<% provide(:title, "Create a City Page") %>
<section class = "header">
	<div class="content">
		<div class="container">
			<h3>Create City</h3>
			<%= form_for [@city] do |f| %>
				<%= render 'fields', f: f %>
				<div class="submit">
					<%= f.submit "Create city", class: "btn" %>
				</div>
			<% end %>
		</div>
	</div>
</section>