<section class = "header">
	<div class="content">
		<div class="container">
			<h1 class = 'cheers'>Cheers!</h1>
			<p>It's 5 O'Clock in</p>
			<h2>Washington, DC</h2>
		</div>
	</div>
</section>
<section>
	<div class="content">
		<div class="container">
			<h2>DC Adults Who are Alcohol Dependent</h2>
			<h1>8.1%</h1>
		</div>
	</div>
</section>

<section>
	<div class="content">
		<div class="container">
			<h2>#1 Douchiest Bar in DC</h2>
			<h1>McFadden's</h1>
		</div>
	</div>
</section>

<section>
	<div class="content">
		<div class="container">
			<h2>Most Popular Drink for Senators</h2>
			<h1>Stipper Body Shots</h1>
		</div>
	</div>
</section>
