// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

section{
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
	&.header{
		background: transparent;
		.container{
			background: rgba(242,229,166,.8);
			color: #404040;
			h2{
				margin-bottom: 0;
			}
		}
	}
	&.fact:nth-child(3n+1){
		background: #d9593d;
		//color: #9ED40D;
		color: #404040;
	}
	&.fact:nth-child(3n+2){
		background: #63a6a6;
		//color: #00D6DD;
		color: #f2e58d;
	}
	&.fact:nth-child(3n+3){
		background: #404040;
		//color: #00D6DD;
		color: #f2441d;
	}
}

.content{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.container{
	padding: 40px;
	text-align: center;
}

