form{
	width: 60%;
	margin: auto;
	text-align: left;
}

label{
	display: block;
	line-height: 1.5em;
}

input[type = "text"],input[type = "password"], input[type = "email"], select {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 5px 0;
}

label.remember{
  display: inline;

}


input[type = "submit"]{
	margin: 0 0 0 auto ;
}